body {
    font-family: 'poppins', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
   
 
 


.auth-container {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 350px;
}

.form-toggle {
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 2px solid #eee;
}

.form-toggle button {
    flex: 1;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    color: #888;
    font-size: 16px;
}

.form-toggle button.active {
    color: #ff8f9c;
    border-bottom: 2px solid #ff8f9c;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

button[type="submit"] {
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background-color: #ff8f9c;
}

.hidden { display: none; }

h2 {
    text-align: center;
}