body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, hsl(353, 89%, 62%), #ff9fb3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    width: 800px;

    background: #f7f7fb;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    gap: 40px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.left h2 {
    color: hsl(0, 0%, 27%)9;
    margin-bottom: 20px;
    border-bottom: hsl(353, 89%, 62%) solid 2px;

}


.left,
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


input,
textarea {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 14px;
    margin-bottom: 15px;
    background: #e9e9f5;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

input:focus,
textarea:focus {
    background: #dedcff;
    border: hsl(353, 89%, 62%) solid 2px;
}

textarea {
    resize: none;
}


button {
    background: hsl(353, 89%, 62%);
    color: white;
    border: none;
    padding: 14px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    display: block;
}

button:hover {
    transform: translateY(-2px);


}

.right img {
    width: 100%;
    border-radius: 0 50% 0 50%;
    border: hsl(353, 89%, 62%) solid 4px;

}