:root {
    --primary-color: #ff8f9c;
    --accent-color: #ff4757;
    --text-main: #2d3436;
    --text-light: #636e72;
    --bg-soft: #f8f9fa;
}

body {
    background: var(--bg-soft);
}

.product-grid {
    padding: 0 150px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 60px;
    align-items: start;
    margin-top: 30px;
}

.image-gallery {
    background: #fff;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 20px;
}

.image-gallery img {
    max-width: 100%;
    mix-blend-mode: multiply;
    transition: transform 0.5s ease;
}

.image-gallery:hover img {
    transform: scale(1.05);
}

.product-details h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--text-main);
}

.price-tag {
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-color);
    margin: 20px 0;
}

.rating-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.badge {
    padding: 5px 12px;
    border-radius: 50px;
    font-size: 14px;
    background: #ff8f9c4f;
    color: var(--primary-color);
    font-weight: 500;
}

.purchase-actions {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.qty-input {
    width: 60px;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 10px;
    text-align: center;
}

.btn-primary {
    flex: 1;
    background: var(--text-main);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background: var(--primary-color);
    transform: translateY(-3px);
}

.btn-wishlist {
    width: 50px;
    border: 2px solid #eee;
    border-radius: 12px;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-wishlist:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}
 .trust-badges {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    
 }

 .trust-badges i {
    font-size: 2rem;
    color: var(--text-main);
    display: inline-block;
 }
.trust-badges .trust-badge {
    width: 100%;
    font-size: 1.2rem;
    color: var(--text-light);
    border: 1px solid var(--text-main);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    
    align-items: center;
}

.trust-badge-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trust-badges .trust-badge h4,p {
    margin: 0;
}

.trust-badges .trust-badge h4 {
    color: var(--text-main);
    font-weight: 600;
}

.trust-badges .trust-badge p {
    color: var(--text-light);
    font-size: 0.9rem;
}
